@font-face {
  font-family: "Gotham Book";
  src: url("./fonts/Gotham Book.otf") format("opentype");
}
html {
  font-size: 16px;
}

body {
  font-family: "Gotham Book";
  font-weight: 400;
  font-size: clamp(0.89rem, 0.23vw + 0.84rem, 1rem);
  color: var(--dark, #1d1d1f);
}

.description {
  font-family: "Gotham Book";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gotham Book";
  font-weight: 700;
  line-height: calc(2px + 2ex + 2px);
  overflow-wrap: break-word;
}

h1 {
  font-size: clamp(1.74rem, 0.44vw + 1.64rem, 1.95rem);
}

h2 {
  font-size: clamp(1.39rem, 0.36vw + 1.31rem, 1.56rem);
}

h3 {
  font-size: clamp(1.11rem, 0.28vw + 1.05rem, 1.25rem);
}

p {
  font-size: clamp(0.89rem, 0.23vw + 0.84rem, 1rem);
}

.defaultBtn {
  border-radius: 16px;
  padding: 8px 16px;
  background-color: rgb(35, 78, 170);
  color: white;
}
.defaultBtn:hover {
  background-color: #161693;
  color: #ffffff;
}

@media (min-width: 320px) {
  .roleDetails {
    font-size: calc(0.7em + 0.5vw);
  }
  .roleDetails .details {
    display: block;
    justify-content: start;
  }
}
@media (min-width: 400px) {
  .roleDetails .details {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 766px) {
  .roleDetails {
    font-size: calc(0.7em + 0.5vw);
    width: 75%;
  }
  .roleDetails .details {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 2040px) {
  .roleDetails {
    font-size: calc(0.5em + 0.5vw);
    width: 75%;
  }
}